.about{
    padding-top:4%;
    padding-bottom:4%;
    text-align: center;
}

.about p{
    line-height:1.7;
    font-family:lato, sans-serif;
    padding-left:20%;
    padding-right:20%;
}

.banner{
    background-color:#FEC9AF;
    display:inline-block;
    text-align: center;
    margin-top:2%;
}

.about h1{
    color: black;
    font-family:'Alegreya Sans SC', sans-serif;
    font-size: 40px;
    margin-top:4%;
}

.hello{
    padding-top:2%;
    padding-bottom:2%;
}

.aboutphotos{
    padding-top:4%;
    padding-bottom: 2%;
}