*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
   height:100%
}

.column {
         float: left;
         padding-left: 1rem;
         padding-right: 1rem;
}

.column.full { width: 100%; padding-left:20%;
    padding-right:20%;}
.column.two-thirds { width: 66.7%; }
.column.half { width: 50%; }
.column.third { width: 33.3%; }
.column.fourth { width: 25%; }
.column.flow-opposite { float: right; }

.logo{
    position:absolute;
    left: 2%;
    top: 2%;
}

.logo img{
    width: 100%;
}

img{
    margin-top: 5%;
}

h4 a{
    text-decoration: none;
    color: black;
}

.nav-container{
    display: table;
    width: 50%;
    margin:auto;
}

.nav-tabs{
    text-align: left;
}

.nav-container h4{
    display: table-cell;
    vertical-align: middle;
    color: black;
    padding-right: 8%;
    text-decoration: none;
    font-size: 24px;
    font-weight: 200;
    font-family:Lato, sans-serif;
}

.nav-container a:hover{
    color: #D6665A;
}


.hero-img{
    margin-top: 12%;
    width:80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.column{
    text-align: center;
}

.img-background{
    background-color:#FBF7EF;
}

p{
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    Font-family: lato, sans-serif;
    line-height: 1.7;
    margin-top:1%;
    margin-bottom:1%;
}

h3{
    font-size: 30px;
    Font-family: Alegreya, serif;
    margin-bottom:1%;
}

h1{
    font-size: 45px;
    margin: 0%;
    Font-family: Alegreya, serif;
}

h2{
    font-size: 25px;
    color: black;
    font-weight: lighter;
    Font-family: Alegreya, serif;
    text-transform: uppercase;
    opacity:.7;
    margin-top:0%;
}

h4{
    text-align: left;
    font-size: 25px;
    Font-family: Alegreya, serif;
    margin-bottom:1%;
}

.reflections{
    margin-bottom: 5%
}

button {
    background-color: #F99186;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 15px;
    margin-bottom: 5%;
    font-family: Lato, sans-serif;
}

button:hover {
    cursor: pointer;
    padding: 1.5x 1.5x;
    font-weight: 600;
}