*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.nav.column.full{
    z-index: 1;
}

ul, li, a {
    margin: 0;
    padding: 0;
    border-radius: 3px;
}

li {
    list-style: none;
}

ul > li {
    float: right;
    height: 70px;
    display: table;
}



ul > li a {
    color: rgba(117, 51, 64, 1);
    font-weight: lighter;
    height:auto;
    padding:0px 5px;
    font-family:"Raleway", sans-serif;
}

.column.third li{
    float: none;
    width: 100%;
}

.icon-top{
    
}

ul li ul li:hover {
    background-color:#FEC9AF;
    cursor: pointer;
}

ul li ul {
    display: none;
    position: absolute;
    background-color:#3090A6;
    top:65px;
    width: 150px;
    left: 100px;
    margin-top: 0%;
    border-radius: 3px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

ul li ul li a{
    display: table-cell;
    vertical-align: middle;
    padding-left: 10%;
    text-align:left;
    color:white;
    font-weight:400;
    font-family:'Alegreya Sans SC', sans-serif;
}

ul li ul li {
    float: none;
    line-height: 20px;
    height: 50px;
    width: 100%;
    font-size: 18px;
    display: table; 
}

.fa.fa-navicon{
    font-size: 48px;
    color:#FEC9AF;
}

.fa.fa-envelope-o{
    font-size: 48px;
    color:#FEC9AF;
}

.absolute-icon-box-right{
    position: relative;
}

.absolute-icon-box-right > a{
    position: absolute;
    right: 100px;
    top: 15px;
}

.absolute-icon-box-left{
    position: relative;
}

.absolute-icon-box-left > a{
    position: absolute;
    left: 100px;
    top: 15px;
}


body, html {
    height:100%
}

.column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
}

.column.full { width: 100%; padding-left:20%;
    padding-right:20%;}
.column.two-thirds { width: 66.7%; }
.column.half { width: 50%; }
.column.third { width: 33.3%; }
.column.fourth { width: 25%; }
.column.flow-opposite { float: right; }

img{
    margin-top: 5%;
}

a{
    text-decoration: none;
}

a:hover{
    cursor:pointer;   
}

a p:hover{
    color:#FEB38D;
}

button:hover{
    font-weight:bold;
}

.hero-img{
    margin-top: 12%;
    width:80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.column{
    text-align: center;
}

.img-background img{
    margin-top:0%;
    padding-top:0%;
    margin-bottom:4%;
    width:75%;
    height:auto;
    box-shadow: 3px 3px 5px 3px #ccc; 
}

/*.img-background{
    background-color:#FBF7EF;
}*/

.img-background p{
    text-align:center;
    margin-top:0%;
    margin-bottom:0%;
    font-size: 18px;
    padding-top:4%;
    padding-bottom:2%;
}

.no-caption img{
    margin-top:4%;
    margin-bottom:4%;
    width:75%;
    height:auto;
    box-shadow: 3px 3px 5px 6px #ccc; 
}

/*.no-caption{
    background-color:#FBF7EF;
}*/

p{
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    Font-family: Lato, sans-serif;
    line-height: 1.7;
    margin-top:3%;
    margin-bottom:3%;
}

.column.full h3{
    font-size: 30px;
    Font-family: "Alegreya Sans SC", "sans-serif";
    margin-bottom:1%;
    text-align: left;
    color:#3090A6;
}

.column.full h1{
    font-size: 50px;
    color:#3090A6;
    margin: 0%;
    margin-bottom:1%;
    Font-family: "Alegreya Sans SC", "sans-serif";
}

.column.full h2{
    font-size: 24px;
    color: rgba(0,0,0,.5);
    font-weight: 100;
    Font-family: "Lato", "sans-serif";
    margin-top:0%;
    border-bottom:solid;
    border-color:black;
    padding-bottom:5%;
    
}

h4{
    text-align: left;
    font-size: 23px;
    Font-family: "Lato", "sans-serif";
    margin-bottom:1%;
    color:#FEB38D;
}

.reflections{
    margin-bottom: 5%
}

button {
    background-color: #F99186;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 15px;
    margin-bottom: 5%;
    font-family: Lato, sans-serif;
}

button:hover {
    cursor: pointer;
    padding: 1.5x 1.5x;
    font-weight: 600;
}

.contact.column.full.background1{
    padding-left:0%;
    padding-right:0%;
}

.footer.column.full{
    padding-left:0%;
    padding-right:0%;
}

.icons.column.full{
    padding-left:0%;
    padding-right:0%;
}

.icons a{
    color: #3090A6;
    font-size: 45px;
    margin-right:3%;
}

.icons{
    text-align: right;
    margin-top:1%;
   
}

.salutation button{
    background-color: #FEB38D;
    border: none;
    color: white;
    width: 250px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-family:'Alegreya Sans SC', sans-serif;
    border-radius: 6px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
}

.salutation{
    text-align: center;
}

.salutation p{
    text-align: center;
    font-size:35px;
    color:#3090A6;
    opacity:1;
}

.contact{
    padding-top:4%;
}

.background1{
    background-image: url(../images/work_rectangle.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 100% 100%;
    padding-top:4%;
    padding-bottom:0%;
}

.nav{
    width: 100%;
    position:fixed;
    top:0;
    display:table;
    background-color:white;
}

.nav .column.third{
    height:70px;
    display:table-cell;
    text-align: center;
}

.nav.column.full{
    padding-left:0%;
    padding-right:0%;
}

/*.column.third{
    padding-left:0%;
    padding-right:0%;
}*/

p.title{
   text-align: center; 
   margin-top:0%; 
   font-family: 'Alegreya Sans SC', sans-serif;
   color:#3090A6;
   line-height:1;
}

.title{
   font-size:40px;
   font-family: 'Alegreya Sans SC', sans-serif;
   color:#3090A6;
   opacity:1;
}

/*.mail a{
    text-decoration:none;
    font-size:40px;
    color:#FEC9AF;
}*/

.nav-container h4:hover, .ProjectNav h3:hover, .contact-info li:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.fa.fa-close:hover{
    cursor: pointer;
    color: #FEB38D;
    opacity: 1.0;
}

.exit{
    position: absolute;
    right: 0px;
    top: 0px;
    opacity: .8;
    width:50px;
    height: 50px;
}

.fa.fa-close{
    color: black;
    font-size:36px;
}

iframe{
    overflow: scroll;
    height: 500px;
}

.popup{
    display:none;
    background-color: white;
    width: 70%;
    text-align: center;
    margin-top: 3%;
    border-radius: 15px;
    border: 1px solid black;
    padding: 50px 2% 2% 2%;
    position: relative;
}


@media (max-width: 1380px){
    
    .column.third{
        padding-left:0%;
        padding-right:0%;
    }
}

@media (max-width: 1168px){
    
    .title{
        line-height:.9;
        font-size: 35px;
    }
}

@media (max-width: 996px){
    .title{
        font-size: 30px;
    }
    
    .column.full h1{
        font-size: 40px;
    }
    
    .column.full h2{
        font-size:20px;
    }
    
    .column.full{
        padding-left:15%;
        padding-right:15%;
    }
}

@media (max-width: 861px) {
    
    .column.half{
        width:100%;
    }
    
    p.title{
      line-height:.8;
}
    
    .title{
        padding-top:0%;   
    }
    
    .absolute-icon-box-right > a{
        right: 30px;
        top: 13px;
    }

    .absolute-icon-box-left > a{
        left: 30px;
        top: 20px;
    }
    
    ul li ul {
        left: 30px;
    }
    
    .fa.fa-navicon{
        font-size: 36px;
    }

    .fa.fa-envelope-o{
        font-size: 36px;
    }
}

@media (max-width: 792px){
    .column.full{
        padding-left:10%;
        padding-right:10%;
    }
    
    .hero-img{
        margin-top: 25%;
    }
}

@media (max-width: 691px) {
    
    .salutation button{
        width: 200px;
        height: 50px;
        font-size: 20px;
        margin-bottom:2%;
        margin-top:2%;
   }
    
    .icons{
       text-align: center;
       margin-top:8%;
    }
    
   .salutation p{
        font-size:30px;
    }
}

@media (max-width: 559px){
    
     .column.full h1{
        font-size: 30px;
    }
    
    .icons a{
        font-size:40px;
    }
    
     .nav.column.full{
        padding-left:0%;
        padding-right:0%;
    }
}

@media (max-width: 533px) {
    
    .title{
        font-size:25px;
        
    }
}

@media (max-width: 420px){    
    .popup{
       width: 95%;
    }
    .salutation p{
        line-height:1.2;
    }
    
     .icons a{
        font-size:35px;
    }
}


@media (max-width: 400px){
    
    .disappear{
        display:none;
    }
    
    .salutation button{
       width: 150px;
       height: 40px;
       font-size: 18px;
       padding:0%;
   }
    
    .column.full{
        padding-left:3%;
        padding-right:3%;
    }
    
    .img-background p{
        font-size:15px;
    }
    
    .column.full h3{
        font-size:23px;
    }
    
    p{
        font-size:18px;
    }
    
    .column.full h2{
        font-size:15px;
    }
    
    .column.full h4{
        font-size: 18px;
    }
    
    .salutation p{
        font-size:20px;
    }
    
      .absolute-icon-box-right > a{
        right: 20px;
        top: 18px;
    }

    .absolute-icon-box-left > a{
        left: 20px;
        top: 20px;
    }
    
    ul li ul {
        left: 22px;
        top: 55px;
    }
}

@media (max-width: 320px){
    
     .title{
         font-size:18px;
         padding-top:4%;
     }
}