.img-backgrounds img{
    width:50%;
    height:auto;
    padding-top:2%;
    padding-bottom:4%;
    margin-top:0%;
    margin-bottom:0%;
}

.img-backgrounds p{
    text-align: center;
    margin-top:0%;
    font-size: 18px;
    padding-top:2%;
    padding-bottom:0%;
}

.img-backgrounds{
    background-color:#FFFFFF;
}

@media (max-width: 533px){
    .column.fourth{
        width:50%;
    }
}