.img-backgrounds img{
    width:50%;
    height:auto;
    padding-top:0%;
    padding-bottom:4%;
    margin-top:0%;
    margin-bottom:0%;
}

.img-backgrounds p{
    text-align: center;
    margin-top:0%;
    font-size: 18px;
    padding-top:4%;
    padding-bottom:1%;
}

.img-backgrounds{
    background-color:#FBF7EF;
}