.SizeImg img{
    height:auto;
    width:100%;
}

 .SizeImg1 img{
    height:auto;
    width:100%;
}

 img{
    margin-top:4%;
}

 p.Center{
    text-align:center;
    font-size: 1rem;
}

 .SwotSurvey{
    padding-bottom:2%;
}

 .Text{
    padding-top:2%;
    padding-bottom: 2%;
}

 .Text p{
   text-align: center;
}

 .TextBlocks{
    padding-top:2%;
    padding-bottom:2%;
}

 .Logo1{
    padding-left:15%
}

 .Logo1 img{
    margin-top:5%;
}

 .Logo2{
    padding-right:15%;
}

 .Logo p{
    margin-top:1%;
    margin-bottom: 4%;
}

 .Logo2 img{
    margin-top:4%;
}

 .Color p{
    margin-top:1%;
    padding-bottom:4%;
}

 .OldMock1{
    margin-top:4%; 
    padding-left:15%
}

 .OldMock2{
     margin-top:4%;
     padding-right:15%;
}

 .NewMock1{
    margin-top:4%;
    padding-left:15%;
}

 .NewMock2{
     margin-top:4%; 
     padding-right:15%;
}

 h3 {
    color: #D44357;
}

h1{
  color: #9DB9C3;  
}

 h2 {
    color: black;
}

@media (max-width: 1024px) {
   html { font-size: 120%; }
   .column.third { width: 100%; }
   .column.third img{
        height: auto;
        width: 70%;
    }
    
    .column.full { width: 100%; padding-left:20%;
    padding-right:20%;}
    
    .logo{
        position:absolute;
        left: 2%;
        top: 2%;
        width: 10%;
    }
    
     .Logo1 img{
        height:auto;
        width:50%;
    }
     .Logo2 img{
        height:auto;
        width:50%;
    }
    
     .size img{
        position:absolute;
        height:auto;
        width:80%;  
     }
    
     .img-background p{
        font-size: .8rem;
    }
    
     .Extra{
        width:80%;
        height:auto;
    }
    
     .column.half { 
         width: 50%; 
    }
    
     .column.half.Horizontal{
        width:50%;
    }
     
     p{
        font-size: 1rem;
        font-weight: normal;
        font-family: didot;
     }

     h3{
        font-size: 1.7rem;
     }

     h1{
        font-size: 2.0rem;
     }

     h2{
        font-size: 1.2rem; 
     }

     h4{
        text-align: left;
        font-size: 1.3em;
        margin-bottom:0%;
     }
     
      .column.fourth { 
          width: 25%; 
    }
     .column.fourth img{
         height: 40%;
         width: 40%;
    }
    
     .column.fourth p{
        font-size:.7rem;
    }
    
     .column.full.Display{
        width:100%;
    }
     
     .nav-container h4{
        font-size: .8rem;
    }
    
     .Image5 img {
        margin-top: 0%;
    }
    
     .link a{
        font-size: 1rem;
    }
}

@media (max-width:525px) {
     .column.fourth { 
          width: 48%; 
    }
     .column.fourth img{
         height: 40%;
         width: 40%;
    }
    
     .column.fourth p{
        font-size:.5rem;
    } 
    
     .column.half{
        width:100%;
    }
    
     .OldMock1{
        margin-top:4%; 
        padding-right:15%
    }

     .OldMock2{
        margin-top:4%;
        padding-left:15%;
    }

     .NewMock1{
        margin-top:4%;
        padding-right:15%;
    }

     .NewMock2{
        margin-top:4%; 
        padding-left:15%;
   }
    
    .column.fourth{
        width:48%;
    }
}


@media (max-width: 400px) {
     .img-background p{
        font-size: .5rem;
    }
    
      .column.fourth { 
          width: 48%; 
    }
     .column.fourth img{
         height: 40%;
         width: 40%;
    }
    
     .column.fourth p{
        font-size:.5rem;
    }
    
     .column.half{
        width:100%;
    }
    
     .column.half.Horizontal{
        width:50%;
    }
    
     .Logo1{
        padding-right:15%;
    }
     .Logo2{
        padding-left:15%;
    }
    
     p{
        font-size: .6rem;
        font-weight: normal;
        font-family: didot;
    }
    
     .Black{
        font-size: .6rem;
    }

     h3{
        font-size: .8rem;
    }

     h1{
        font-size: 1.5rem;
    }

     h2{
        font-size: 1rem;
    }

     h4{
        text-align: left;
        font-size: .8em;
        margin-bottom:0%;
    }
     
     .nav-container h4{
        font-size: .5rem;
        padding-right:20px;
    }
    
     .size img{
        position:absolute;
        height:auto;
        width:80%;  
    }
    
     .link a{
        font-size: .5rem;
    } 
     .OldMock1{
        margin-top:4%; 
        padding-right:15%
    }

     .OldMock2{
        margin-top:4%;
        padding-left:15%;
    }

     .NewMock1{
        margin-top:4%;
        padding-right:15%;
    }

     .NewMock2{
        margin-top:4%; 
        padding-left:15%;
   }
    .Logo1 img{
        height:auto;
        width:100%;
   }
    .Logo2 img{
        height:auto;
        width:100%;
   }
    
}