.img-background p{
    text-align: center;
    margin-top: 0%;
}

h3{
    color: #A7536E;
}

h1{
    color: #668A6D;
}

.section-imgs img{
    width: 100%;
}

.single-img img{
    width: 100%;
}

.profile-imgs img {
    width: 70%;
    height: auto;
}


@media (max-width: 1020px) {
     .nav-container h4{
        font-size: 1.2rem;
    }
    
    .logo img{
        width:75%;
    }
    
}



@media (max-width: 720px) {
    .column.half{
        width: 100%;
    }
    
    .nav-container h4{
        font-size: 1rem;
    }
    
    .logo img {
        width:50%;
    }
}

@media (max-width: 400px) {
     .img-background p{
        font-size: .5rem;
     }
    
     .logo img{
        width: 50px;
        height: 50px;
        object-fit:cover;
     }
    
     p{
        font-size: .7rem;
     }

     h3{
        font-size: 1rem;
     }

     h1{
        font-size: 1.5rem;
     }

     h2{
        font-size: .8rem;
     }

     h4{
        text-align: left;
        font-size: .8em;
        margin-bottom:0%;
     }
     
     .nav-container h4{
        font-size: .7rem;
     }
    
    .logo{
        position:absolute;
        left: 2%;
        top: 2%;
        width: 10%;
    }
    
}