.chosen img{
    width:50%;
    height:auto;
}

.text{
    margin-top:2%;
    margin-bottom:2%;
}

.textintro{
    margin-bottom:4%;
}


.mobile img{
    width:75%;
    height:auto;
}

.mobile1 img{
    width:25%;
    height:auto;
}

.offset img{
    width:50%;
    height:auto;
}

.offset1 img{
    width:35%;
    height:auto;
}

.offset2 img{
    width:50%;
    height:auto;
}

.offset6 img{
    width:47%;
    height:auto;
}

.offset3 img{
    width:70%;
    height:auto;
}


.cmnav img{
    width:75%;
    height:auto;
}

.Center{
    text-align: center;
}

.special img{
    padding-top:0%;
}

.palate1{
    width:25%;
    height:auto;
}

.palate img{
    width:75%;
    height:auto;   
}


.palate5 img{
    width:50%;
    height:auto;   
}

.palate3 img{
    width:75%;
    height:auto;  
}

.palate2 img{
    width:25%;
    height:auto;   
}

@media (max-width: 861px) {  
    
  .palate img{
    width:50%;
    height:auto;
    padding-bottom:4%;
    padding-top:4%;
    
}

.palate2 img{
    width:50%;
    height:auto;
    padding-bottom:4%;
    padding-top:4%;
    
} 

.palate3 img{
    width:100%;
    height:auto;
    padding-bottom:4%;
    padding-top:4%;
    
}

    
    
    
}
