*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
   height:100%
}

.column {
         float: left;
         padding-left: 1rem;
         padding-right: 1rem;
     }

.column.full { width: 100%; }
.column.two-thirds { width: 66.7%; }
.column.half { width: 50%; }
.column.third { width: 33.3%; }
.column.fourth { width: 25%; }
.column.fifth {width:20%; }
.column.flow-opposite { float: right; }


button{
    background-color: #FEB38D;
    border: none;
    color: white;
    width: 250px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: inherit;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.LetsTalk button{
    background-color: #3090A6;
    border: none;
    color: white;
    width: 250px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: inherit;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top:5%;
}

.nav{
    position: absolute;
    display: table;
    height: 60px;
}

.nav-container h4:hover, .portfolio-nav h3:hover, .contact-info a:hover {
  cursor: pointer;
}

.hidden {
    display: none;
}

.hero{
    height: 100%;
}

.hero-container{
    height: 100%;
    display: table;
}

.hero-contnent{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.hero h2{
    margin-bottom: -1%;
}

h2 { color: black;
     font-weight: 800;
     text-align: center;
     font-weight: normal;
     font-size: 2rem;
}

body{
    font-family: didot, 'Mukta Vaani', sans-serif;
}

.hero{
    background-image: url(../images/hero%20background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;

}

.logo{
    position: absolute;
}

.nav{
    width: 100%;
    position: relative;
}

.nav-tabs{
    text-align: center;
    display: table;
}

.nav-container{
    display: table;
    height: 60px;
    width: 50%;
    margin: auto;
}

.nav-container h4{
    color: black;
    padding-right: 5%;
    text-decoration: none;
    font-size: 1.5rem;
    display: table-cell;
    vertical-align: middle;
  
}

.Headings h2{
    font-weight:bold;
}

.hero-img{
    width: 300px;
}

.about-images{
    display: table;
    height: 80px;
    
}

.about-images img{
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    width: 120px;
}

.about ul{
    margin-top: 3%; 
}

.about{
    height: 100%;
    background-image: url(../images/about%20background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
}

.about li{
    font-size: 1rem;
    margin-left: 10%;
    line-height: 3pc;
}
   
.selected {
    font-size: 28px;
    font-weight: bolder;
    color: #FEB38D;
    border-right: 8px solid;
    font-weight:bold;
    
}

.portfolio{
    height:100%;
    padding: 25px;
    background-image: url(../images/portfolio%20background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
}

.portfolio img{
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
}

.portfolio-content{
    position: relative;
}

.portfolio-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.portfolio-nav{
    position: absolute;
    display: block;
    left: auto;
    top: 20%;
    width: 200px;
}

.portfolio-nav h3{
    font-size: 1.2rem;
    margin-top: 10%;
}

.skills{
    height: 100%;
}

.skills h3{
    margin-top: 0%;
    margin-left: 20%;
    font-size: 1.5rem;
    font-weight: normal;
    color:#3090A6;
}

.programs-row{
    margin-left: 20%;
    width: 100%;
    padding: 0%;
    text-align: justify;
}

.programs-row img{
    width: 60px;
    display: inline-block;
    margin:auto;
    margin-right: auto;

    height: auto;
    margin-right: 100px;
    margin-bottom: 25px;
}

.list-one{
    margin-left: 40%;
    font-size: 1rem;
    margin-top: -5%;
    line-height: 250%;
}

.list-two{
    margin-left: 5%;
    font-size: 1rem;
    margin-top: -5%;
    line-height: 250%;
}

.SkillButton{
    margin-top:2%
}

.SkillButton{
    position: absolute;
    bottom: 8%;
}

.skills{
    position: relative;
}

.skills button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration:none;
}

.SkillButton a{
    text-decoration: none;
}

.contact{
    height: 100%;
    background-image:url(../images/ContactTriangle.png);
    background-repeat: no-repeat;
    background-size: 100% 75%;
    background-position: center bottom;
    position: relative;
}

.contact-info-container{
    position:absolute;
    left:0;
    right:0;
    bottom: 50px;
    margin:auto;
}

.contact-img{
    width: 200px;
    position:absolute;
    left:0;
    right:0;
    top: 130px;
    margin:auto;
}

.contact-info{
    float:right;
}

.contact p{
    display: block;
    text-align: center;
    font-size: 2rem;
    color: #3090A6;
}

.contact-info a{
    text-decoration: none;
}

.contact1{
    text-align:center;
}

.contact1 p{
    color:white;
}

.SocialLinks a{
    padding:10px;
}

.contact button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.LetsTalk a{
    text-decoration: none;
}

ul {
    list-style: none;
    padding:5px;
    margin:5px;
    word-spacing: 1px;
}

li {
    padding-left: 1em;
    text-indent: -.7em;
}

li:before {
    content: "• ";
    color: #F2D16C;
    font-size: 4pc;
    display: inline-block;
    vertical-align: middle;
}

li:nth-child(odd)::before{
  color: #73D0E5;
}

.second{
     position: relative;
     left: 400px;
     bottom: 280px;
}


@media (max-width: 1024px) {
   /*html { font-size: 120%; }*/
   /*.column.third { width: 100%; }*/
   /*.column.third img{
        height: auto;
       
    }*/
    
    .list-one{
        margin-left: 20%;
        font-size: 1rem;
        margin-top: -5%;
        line-height: 250%;
    }

    .list-two{
        margin-left: 10%;
        font-size: 1rem;
        margin-top: -5%;
        line-height: 250%;
    }
    
    .skills h3{
        margin-left: 10%;
    }
    
    .programs-row{
        margin-left: 10%;
        width: 100%;
        padding: 0%;
        text-align: justify;
    }

    .programs-row img{
        width: 50px;
        display: inline-block;
        margin:auto;
        margin-right: auto;

        height: auto;
        margin-right: 12%;
        margin-bottom: 25px;
    }
    
    .portfolio-button{
        font-size: 1rem;
        padding: 10px 20px;
    }
    
    .portfolio img{
        width: 350px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        
    }
    
    .portfolio-nav{
        position: absolute;
        display: block;
        left: 5px;
        top: 30%;
        width: 150px;
        
    }

    .portfolio-nav h3{
        font-size: 1rem;
        margin-top: 5%;
    }
    
    .about li{
        font-size: 1rem;
        line-height: 1pc;
        height: 4pc;
        margin-left: 20px;
    }
    
    .about-images img{
        width: 100px;
    }
    
      .contact-img{
        width: 175px;
        top: 130px;
    }
    
      .LetsTalk button{
          width: 30%;
          height: 30%;
          font-size: 1.5rem;
          margin-top:15%;
    }
    
      .contact p{
         font-size: 1.5rem;
    }
    
      .contact1{
         margin-top:5%;
    }
    
      li:before {
        font-size: 2pc;
    }
    
      .skills h3{
          font-size: 1.3rem;
    }
    
    .portfolio-content{
    }
    
    /*.portfolio-nav.column.third{
        width:100%;
    }*/
    
     /*.column.half{
        width:100%;
    }*/
    

     .SkillButton{
        margin-top:5%
    }
    
      button{
        font-size: 1.5rem;
        padding: 25 35;
    }

    .portfolio-nav h3{
   }
    
    
     .size img{
        position:absolute;
        height:auto;
        width:80%;  
     }
    
     /*.column.half { 
         width: 50%; 
    }*/
     
     p{
        font-size: 1rem;
        font-weight: normal;
        font-family: didot;
     }

     h3{
        font-size: 1.7rem;
     }

     h1{
        font-size: 2.0rem;
     }

     h2{
        font-size: 1.8rem;
     }

     h4{
        text-align: left;
        font-size: 1.8em;
        margin-bottom:0%;
     }
    
     .column.full.Display{
        width:100%;
    }
    
     .nav-container h4{
        font-size: 1.3rem;
    }
     
}

@media (max-width: 770px) {
   /*html { font-size: 120%; }*/
   /*.column.third { width: 100%; }*/
   /*.column.third img{
        height: auto;
       
    }*/
    
    .hero-img{
        width: 250px;
    }
    
    .list.column.half{
        padding: 0%;
    }
    
    .list-one{
        margin-left: 13%;
        font-size: 1rem;
        margin-top: -5%;
        line-height: 250%;
    }
    
    .list-two{
        margin-left: 0%;
        font-size: 1rem;
        margin-top: -5%;
        line-height: 250%;
    }
    
    .skills h3{
        margin-left: 5%;
    }
    
    .programs-row{
        margin-left: 5%;
        width: 100%;
        padding: 0%;
        text-align: justify;
    }

    .programs-row img{
        width: 40px;
        display: inline-block;
        margin:auto;
        margin-right: auto;

        height: auto;
        margin-right: 10%;
        margin-bottom: 25px;
    }
}

@media (max-width: 650px) {
    
    .contact-info-container{
        position:absolute;
        left:0;
        right:0;
        bottom: 100px;
        margin:auto;
    }
    
    .contact{
        background-size: 150% 75%;
    }
    
    .list-one{
        margin-left: 13%;
        font-size: .8rem;
        margin-top: -5%;
        line-height: 350%;
    }
    
    .list-two{
        margin-left: 0%;
        font-size: .8rem;
        margin-top: -5%;
        line-height: 350%;
    }
    
    
    .portfolio-button{
        font-size: .8rem;
        padding: 10px 20px;
        width: 200px;
    } 
    
    .nav-container h4{
        font-size: 1rem;
    }
    
    .portfolio img{
        width: 350px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 200px;
        
    }
    
    .portfolio-nav{
        width: 100%;
        top: 20%;
    }
    
    .column.full.ProjectNav{
        width: 20%;
        padding: 0%;
    }

    .portfolio-nav h3{
        font-size: .7rem;
        margin-top: 5%;
    }
    
    h2{
        font-size: 1.3rem;
     }
    
    .logo img{
        height: 50px;
    }
    
    .about-images img{
        width: 75px;
    }
    
    .about li{
        font-size: .8rem;
        line-height: 1pc;
        height: 4pc;
        margin-left: 5px;
    }
    
    .hero-img{
        width: 250px;
    }
}



@media (max-width: 550px) {
    
    .SkillButton button{
         width: 200px;
        height: 40px;
        font-size: 18px;
    }
    
    .contact button{
        padding: 10px 15px;
        font-size: 16px;
    }
    
      .column.half{
        width:100%;
    }
    
    .list-one{
        margin-left: 2%;
        font-size: 1rem;
        margin-top: -5%;
        line-height: 200%;
    }
    
    .list-two{
        margin-left: 2%;
        font-size: 1rem;
        margin-top: -5%;
        line-height: 200%;
    }
    
    .skills h3{
        margin-left: 0%;
    }
    
    .programs-row{
        margin-left: 0%;
        width: 100%;
        padding: 0%;
        text-align: justify;
    }

    .programs-row img{
        width: 30px;
        display: inline-block;
        margin:auto;
        margin-right: auto;

        height: auto;
        margin-right: 30px;
        margin-bottom: 25px;
    }
    
    .contact{
        background-size: 175% 75%;
    }
}


@media (max-width: 400px) {
    
    .list-one{
        margin-left: 8%;
        font-size: 1rem;
        margin-top: -5%;
        line-height: 200%;
    }
    
    .list-two{
        margin-left: 8%;
        font-size: 1rem;
        margin-top: -5%;
        line-height: 200%;
    }
    
    .hero-img{
        width: 200px;
    }
    
    .about li{
        font-size: .7rem;
        line-height: 1pc;
        height: 4pc;
        margin-left: 2px;
    }
    
    .about-images img{
        width: 60px;
    }
    
       .nav-container h4{
        font-size: .8rem;
        padding-right:20px;
    }
    
    .portfolio.column.full{
        padding:0rem;
    }
    
    .portfolio-button{
        width:50%;
        height:20%;
        font-size: .8rem;
    }
    
    .column.full.skills{
        padding:0%;
    }
    
    .programs-row{
        padding:0%;
        margin-left:5%;
    }
    
    .programs-row img{
       width:9%; 
        
    }
    
    .skills h3{
        margin-left:6%;
    }
    
     p{
        font-size: .6rem;
        font-weight: normal;
        font-family: didot;
    }

     h3{
        font-size: .8rem;
    }

     h1{
        font-size: 1.5rem;
    }

     h2{
        font-size: 1rem;
    }

     h4{
        text-align: left;
        font-size: .8em;
        margin-bottom:0%;
    }
    
     .size img{
        position:absolute;
        height:auto;
        width:80%;  
    }
    
    .contact button{
        padding: 10px 15px;
        font-size: 16px;
    }
    
}

