*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
   height:100%
}

.column {
         float: left;
         padding-left: 1rem;
         padding-right: 1rem;
     }

.column.full { width: 100%; }
.column.two-thirds { width: 66.7%; }
.column.half { width: 50%; }
.column.third { width: 33.3%; }
.column.fourth { width: 25%; }
.column.fifth {width:20%; }
.column.flow-opposite { float: right; }


button{
    background-color: #FEB38D;
    border: none;
    color: white;
    width: 250px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: inherit;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.LetsTalk button{
    background-color: #3090A6;
    border: none;
    color: white;
    width: 250px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: inherit;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top:5%;
}

.nav-container h4:hover, .portfolio-nav h3:hover, .contact-info a:hover {
  cursor: pointer;
}

.hidden {
    display: none;
}

.hero{
    height: 100%;
}

.hero h2{
    margin-bottom: -1%;
}

h2 { color: black;
     font-weight: 800;
     text-align: center;
     font-weight: normal;
     font-size: 2rem;
}

.logo{
    position: absolute;
}

body{
    font-family: didot, 'Mukta Vaani', sans-serif;
}

.hero{
    background-image: url(../images/hero%20background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;

}

.nav-tabs{
    text-align: center;
}

.nav-container{
    display: table;
    width: 50%;
    margin:auto;
}

.nav-container h4{
    color: black;
    padding-right: 50px;
    text-decoration: none;
    font-size: 1.5rem;
    display: table-cell;
    vertical-align: middle;
  
}

.Headings h2{
    font-weight:bold;
}

.hero-img{
    margin-top: 12%;
    width: 20%;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.about{
    height: 100%;
    background-image: url(../images/about%20background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
}

.about-images{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-images img {
    width: 10%;
    margin-left: 51px;
    margin-right: 51px;
}

.about ul{
    margin-top: 2%;
}

.about li{
    font-size: 1rem;
    margin-left: 10%;
    line-height: 4pc;
}
   
.selected {
    font-size: 28px;
    font-weight: bolder;
    color: #FEB38D;
    border-right: 8px solid;
    font-weight:bold;
    
}

.portfolio{
    height:100%;
    padding: 25px;
    background-image: url(../images/portfolio%20background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
}

.portfolio img{
    width: 65%;
    margin-top: 0%;
}

.portfolio-content{
    margin-top: 5%;
}

.portfolio-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.portfolio-nav{
    margin-top: 0%;
}

.portfolio-nav h3{
    font-size: 1.3rem;
    font-weight: lighter;
    margin-left: 5%;
    margin-bottom: 3%;
}

.skills{
    height: 100%;
}

.skills h3{
    margin-left: 20%;
    font-size: 1.5rem;
    font-weight: normal;
    color:#3090A6;
}

.programs-row{
    margin-left: 20%;
}

.programs-row img{
    width: 5%;
    margin-right: 9.5%;
    margin-bottom: 2%
}

.list-one{
    margin-left: 40%;
    font-size: 1rem;
    margin-top: -5%;
    line-height: 250%;
}

.list-two{
    margin-left: 10%;
    font-size: 1rem;
    margin-top: -5%;
    line-height: 250%;
}

.SkillButton{
    margin-top:2%
}

.skills button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration:none;
}

.SkillButton a{
    text-decoration: none;
}

.contact{
    height: 100%;
    background-image:url(../images/ContactTriangle.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
}

.contact-img{
    width: 20%;
    margin:auto;
    display:block;
}

.contact-info{
    float:right;
}

.contact p{
    display: block;
    text-align: center;
    /*padding-right: 5%;*/
    font-size: 2rem;
    color: #3090A6;
}

.contact-info a{
    text-decoration: none;
}

.contact1{
    text-align:center;
}

.contact1 p{
    color:white;
}

.SocialLinks a{
    padding:10px;
}

.about-images{
    text-align: center;
}

.contact button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.LetsTalk a{
    text-decoration: none;
}

ul {
    list-style: none;
    padding:5px;
    margin:5px;
    word-spacing: 1px;
}

li {
    padding-left: 1em;
    text-indent: -.7em;
}

li:before {
    content: "• ";
    color: #F2D16C;
    font-size: 4pc;
    display: inline-block;
    vertical-align: middle;
}

li:nth-child(odd)::before{
  color: #73D0E5;
}

.second{
     position: relative;
     left: 400px;
     bottom: 280px;
}


@media (max-width: 1024px) {
   /*html { font-size: 120%; }*/
   .column.third { width: 100%; }
   .column.third img{
        height: auto;
       
    }
    
      .contact-img{
        width: 30%;
        margin:auto;
        display:block;
    }
    
      .LetsTalk button{
          width: 30%;
          height: 30%;
          font-size: 1.5rem;
          margin-top:15%;
    }
    
      .contact p{
         font-size: 1.5rem;
    }
    
      .contact1{
         margin-top:5%;
    }
    
      li:before {
        font-size: 3pc;
    }
    
      .skills h3{
          font-size: .8rem;
    }
    
    .column.two-thirds.traks-laptop{
        width:100%;
        margin-left:15%;
        margin-top:5%;
        margin-bottom:5%;
    }
    
    .column.two-thirds.open-hand-laptop{
        width:100%;
        margin-left:15%;
        margin-top:5%;
        margin-bottom:5%;
    }
    
    .column.two-thirds.mj-photography-laptop{
        width:100%;
        margin-left:15%;
        margin-top:5%;
        margin-bottom:5%;
    }
    
     .column.two-thirds.collabormate-laptop{
        width:100%;
        margin-left:15%;
        margin-top:5%;
        margin-bottom:5%;
    }
    
    .column.two-thirds.collabormate-laptop img{
        
    }
    
    .portfolio-content{
        padding-left:0;
        padding-right:0;
    }
    
    .ProjectNav.column.full{
        width:20%;
        padding: 0%;
    }
    
    .portfolio-nav.column.third{
        width:100%;
    }
    
     .column.half{
        width:100%;
    }
    
     .skills h3{
        margin-left: 18%;
        font-size: 1rem;
    }

     .programs-row{
        margin-left:18%;
        margin-top:3%;
    }
 
     .programs-row img{
        width: 5%;
        margin-right: 9.5%;
        margin-bottom: 2%
    }

     .SkillButton{
        margin-top:5%
    }
    
     .list-one{
        margin-left: 35%;
        font-size: .8rem;
        margin-top:5%;
        line-height: 350%;
    }

     .list-two{
        margin-left: 8%;
        font-size: .8rem;
        margin-top:5%;
        line-height: 350%;
    }
    
      button{
        width: 30%;
        height: 30%;
        font-size: 1.5rem;
    }
    
     .portfolio-nav{
        margin-top: 0%;
    }

    .portfolio-nav h3{
        font-size: 1rem;
        font-weight: lighter;
        margin-left: 0%;
        margin-bottom: 3%;
   }
    
    .portfolio img{
        margin-top:10%;
    }
    
    .about-images{
        margin-top:4%;
    }
    
    .about ul{
        margin-top:10%;
    }
    
     .about li{
        font-size: .6rem;
        margin-left: 10%;
        line-height: 3pc;
    }
    
     .hero-img{
        margin-top: 25%;
        width: 30%;
        height:auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
   }
    
    .logo img{
        position:absolute;
        left: 2%;
        top: 2%;
        width: 50px;
    }
    
     .size img{
        position:absolute;
        height:auto;
        width:80%;  
     }
    
     .column.half { 
         width: 50%; 
    }
     
     p{
        font-size: 1rem;
        font-weight: normal;
        font-family: didot;
     }

     h3{
        font-size: 1.7rem;
     }

     h1{
        font-size: 2.0rem;
     }

     h2{
        font-size: 1.2rem;
     }

     h4{
        text-align: left;
        font-size: 1.3em;
        margin-bottom:0%;
     }
    
     .column.full.Display{
        width:100%;
    }
    
     .nav-container h4{
        font-size: .8rem;
    }
     
}

@media (max-width: 400px) {
    
       .nav-container h4{
        font-size: .8rem;
        padding-right:20px;
    }
    
     .logo{
        position:absolute;
        left: 1%;
        top: 2%;
        width: 10%;
    }
    
    .logo.column.full{
        padding:0%;
        width:75%;
    }
    
     .logo img{
        width:100%;
    }
    
    .nav-tabs.column.full{
        padding:0%;
        width:75%;
    }
    
     .hero-img{
        margin-top: 75%;
    }
    
     .about-images img{
        width: 15%;
        margin-left: 20px;
        margin-right: 20px;   
    }
    
    .about li{
        line-height:400%;
        padding:0%;
        margin:0%;
        
    }
    
    .portfolio.column.full{
        padding:0rem;
    }
    
    .portfolio-nav.column.third{
        padding:0rem;
    }
    
    .portfolio-nav.column.third h3{
        font-size:.1rem;
    }
    
    .column.two-thirds.traks-laptop{
        margin:0%;
    }
    
    .portfolio-button{
        width:50%;
        height:20%;
        font-size: .8rem;
    }
    
    .column.full.skills{
        padding:0%;
    }
    
    .programs-row{
        padding:0%;
        margin-left:5%;
    }
    
    .programs-row img{
       width:9%; 
        
    }
    
    .skills h3{
        margin-left:6%;
    }
    
    .list-one{
        font-size: .5rem;
        margin:0%;
    }
    
      .column.half{
        width:100%;
    }
    
     p{
        font-size: .6rem;
        font-weight: normal;
        font-family: didot;
    }

     h3{
        font-size: .8rem;
    }

     h1{
        font-size: 1.5rem;
    }

     h2{
        font-size: 1rem;
    }

     h4{
        text-align: left;
        font-size: .8em;
        margin-bottom:0%;
    }
    
     .size img{
        position:absolute;
        height:auto;
        width:80%;  
    }
    
}

