*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
   height:100%
}

.column {
         float: left;
         padding-left: 1rem;
         padding-right: 1rem;
     }

.column.full { width: 100%; padding-right:10%; padding-left:10%; }
.column.two-thirds { width: 66.7%; }
.column.half { width: 50%; }
.column.third { width: 33.3%; }
.column.fourth { width: 25%; }
.column.flow-opposite { float: right; }

.logo{
    position:absolute;
}
.nav-container{
    display: table;
    width: 50%;
    margin:auto;
}

.nav-tabs{
    text-align: left;
}

.nav-container h4{
    display: table-cell;
    vertical-align: middle;
    color: black;
    padding-right: 50px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    font-family: didot;
}


.hero-img{
    margin-top: 12%;
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.column{
    text-align: center;
}

p{
    text-align: left;
}

ol{
    font-size:25px;
    text-align:left;
}

.Background{
    background-color:#FBF7EF;
}

.Background p{
    text-align: center;
    margin-top:1%;
    margin-bottom:4%;
}

.Text{
    padding-top:2%;
    padding-bottom:2%;
}

.Image{
    margin-top:4%;
    margin-bottom:2%
}

.Image1{
    margin-top:5.5%;
}

.Image2{
    margin-top:5%;
}

.Image3{
    padding-bottom:.5%;
}

.Image4{
    padding-top:.5%;
    padding-bottom:.5%
}

.ImageNoCaption{
    margin-top:4%;
    margin-bottom:4%;
}

.OtherUX p{
    text-align:center;
}

p {
    font-size: 25px;
    font-weight: normal;
    font-family: didot;
}

h3 {
    font-size: 30px;
    color: #28A9BF;
}

h2 {
    font-size: 35px;
    color: #F3B040;
}

h4{
    font-size:25px;
}

.link {
    font-size: 20px;
}